<div class="card bg-light cardnp" style="width:600px">
  <div class="card-body">
    <h1 class="">New Post</h1>
    <%= render 'form', post: @post %>
    <%= link_to 'Post', posts_path %>
  </div>
</div>
