body{
    position: relative;
}
.images{
    width:200px;
    height: 200px;
    border-radius: 40px;
}
.nav1{ 
    background-color: blue
}
.card1{
    position: absolute;
    text-decoration-color: aliceblue;
    left: 55%;
}
.login{
    position: absolute;
left: 55%;
top: 10px;
}
.login p{
    position: relative;
    height: 7px;  
    top:22px;
    right: 50px; 
}
.cardnp{
    position: absolute;
    left: 20%;
}
.cardip{
    position: absolute;
    left: 30%;
}
.newp{
    position: absolute;
    left: 50%;
    top:19px;
}

.logg{
    position: absolute;
    left: 60%;
    top: 19px;
}

.cardsn{
    position: absolute;
    left: 40%;
    top:19px;
}
